<mat-card>
  <mat-card-header>
    <img mat-card-avatar src="{{comment.author.avatar}}" alt="Avatar">
    <mat-card-title>{{comment.author.userName}} </mat-card-title>
    <div>{{comment.createdAt | date:'d/M/yy, h:mm a'}}</div>
  </mat-card-header>
  <mat-card-content>
    <p>{{comment.body}}</p>
  </mat-card-content>
  <mat-card-actions class="actions-buttons" align="end">
    <button mat-icon-button color="primary" (click)="likeComment()">
      <mat-icon matBadge="{{likes}}" matBadgeColor="accent" matBadgeSize="medium"
        [matBadgeHidden]="likes === 0" aria-label="Like">favorite</mat-icon>
    </button>
    <button mat-icon-button color="primary" (click)="dislikeComment()">
      <mat-icon matBadge="{{dislikes}}" matBadgeColor="accent" matBadgeSize="medium"
      [matBadgeHidden]="dislikes === 0" aria-label="Dislike">thumb_down</mat-icon>
    </button>
    <button mat-icon-button color="accent">
      <mat-icon aria-label="Share">share</mat-icon>
    </button>
    <button *ngIf="currentUser.id === comment.author.id" mat-icon-button (click)=" deleteComment()">
      <mat-icon aria-label="Delete comment">delete_forever</mat-icon>
    </button>
  </mat-card-actions>
</mat-card>
